.reservations-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 24px;
    height: 540px;
    overflow-y: scroll;
    padding-right: 0px;
    margin-top: 0px;
    padding-top: 22px;
    padding-left: 14px;
    padding-right: 14px;
    overflow: scroll;
}