.reservations-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 24px;
    height: 540px;
    overflow: scroll;
    font-size: 15px;


        p {
            font-family: "Montserrat", sans-serif;
            text-align: center  ;
        }

        .reservation-index-item {
            width: 325px;
            margin-right: 13px;
            margin-bottom: 15px;
            box-shadow: 0px 8px 17px -7px rgba(0,0,0,0.51);
            border-radius: 10px 10px 0px 0px

        }

        .Reservation-title {
            font-size: 18px;
            padding-bottom: 7px;
        }

        .reservation-index-item-image {

            img {
                height:200px;
                border-radius: 10px 10px 0px 0px
            }
        }

    .reservation-dates {
        padding: 0px 25px;
        display:flex;
        justify-content: space-between;
        font-family: "Montserrat", sans-serif;
    }
}

.cancel-reservation-div {
    padding: 10px;
}