.Spots-title{
    margin-top: 35px;
    font-size: 14px;
    padding: 5px 0px;
}

.Spots-div {
    padding: 0px 20px;
    border-top: 1px solid #EBEBEB;
    display: flex;
}

.Spots-header {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 25px;
}

.Spots-button button {
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 8px 10px;
    color: black;
    margin: 5px;
    font-size: 14px;
    font-weight: 300px;
    cursor: default;
}

.Spots-covid {
    margin: 20px 0px;
    font-size: 12px;
}

.Spotspage-header {
    border-bottom: 1px solid lightgray;
}

// .Spots-div li {
//     list-style: none;
// }

.index-item-image {
    border-radius: 10px;
    margin-top: 10px;
    margin: 10px 15px 10px 0px;
}

.spot-index-item {
    display: flex;
    border-bottom: 1px solid #b6b6b6;
}

.spot-index-item img {
    border-radius: 10px;
    height: 200px;
    width: 300px;
}

.index-item-name {
    margin: 10px 0px 5px;
    color: #837878;
    font-size: 14px;
}

.line {
    height:1px;
    width: 30px;
    margin-top: 10px;
    border-top: 1px solid #EBEBEB;
    padding-bottom: 10px;
}

.index-item-details {
    margin-top: 10px;
    color: #837878;
    font-size: 14px;
}

.price {
    align-self: flex-end;
    padding-bottom: 20px;
    width: 200px;
}

.index-item-info {
    width: 600px;
}

#map {
    position: fixed !important;
    width: 45%;
    height: 90%;
}

.board {
    display: flex;
}

.leftside {
    overflow: hidden;
    position: relative;
    width:55%
}

.rightside{ 
    height: 100%;
    right: 0;
    width:40%;
}

.listings {
    width: 100%
}

.showpagediv {
    border-top: 1px solid #f7f7f7;
    padding: 20px 50px;
}

.address {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.fa-star {
    color: red;
}

.fa-heart {
    padding-left: 5px;
}

.showpagename {
    font-size: 25px;
}

.addressleft span {
    color: grey;
    font-size: 14px;
}

.photo_grid {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-gap: 8px;
    padding: 10px 0px;
    column-gap: 8px;
    border-radius: 15px;
}

.photo_1 {
    overflow: hidden;
    grid-row: 1 / span 2;
    max-height: 400px;
    border-radius: 10px 0px 0px 10px;
}

.photo_2, .photo_3, .photo_4, .photo_5 {
    max-height: 195px;
}

.photo_3 {
    border-radius: 0px 10px 0px 0px;
}

.photo_5 {
    border-radius: 0px 0px 10px 0px;
}

.spotshowbody {
    border-bottom: 1px solid darkgrey;
    padding: 20px 0px;
    // width: 800px;
    margin-bottom: 10px;
}

.spotshowbodybottom {
    border-bottom: 1px solid darkgrey;
    padding: 10px 0px;
    // width: 800px;
}

.spotshowtext {
    p {
    font-size: 16px;
    color: gray;
    }
    width:800px;
    padding: 20px 0px;
    border-bottom: 1px solid darkgrey;
}

.entirehome, .enhancedclean, .checkin, .cancelation {
    padding: 10px 0px;
        #sicons {
        margin-right: 5px;
    }
}

.sTitle {
    font-size: 16px;
    span {
        text-decoration: underline;
    }
}

.sBody {
    font-size: 13px;
    color: gray;
}

.spotsShowBodyContainer {
    display: flex;
    width: 800px;
}
.spotsShowRightSide {
    min-width: 75%;
    position: relative;
    display: flex;
    justify-content: center;
}

.bookingcontainer {
    top: 25px;
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 8px 17px -7px rgba(0,0,0,0.51);
    min-width: 350px;
    min-height: 300px;   
    border: 1px solid darkgray;

}

.bookingHeader {
    padding: 30px 30px 0px 30px;
    display: flex;
    justify-content: space-between;
}

.sCheckin{
    height: 40px;
    border: 1px solid darkgray;
    border-bottom: 0;
    padding: 7px 15px 7px 5px;
    border-radius: 8px 0px 0px 0px; 


}

.sGuests {
    height: 40px;
    border: 1px solid darkgray;
    padding: 7px 15px 7px 5px;
    border-radius: 0px 0px 8px 8px;

    input {
        margin-top: 10px;
        width: 100%;
        height: 100%;
    }

}

.sReservation {
    display: flex;
}

.sGuestsButton {
    width: 100%;
    height: 100%;
    border: none;
}

.sGuestButtonDiv {
    align-items: center;
    padding: 0px, 15px;
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.Adults {
    display: flex;
    justify-content: space-between;
    span {
        padding-left: 15px;
        display: flex;
        align-items: center;
    }
}

#reservation-dropdown {
    cursor: default;
    position: absolute;
    right: 30px;
    top: 185px;
    width: 365px;
    padding: 5px;
    border: 1px solid lightgray;
    box-shadow: 0px 8px 17px -7px rgba(0,0,0,0.51);
    border-radius: 5px;
    background: white;
}

.dropdownAdds {
    width: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.dropdownText {
    align-self: center;
}

.fa-minus-square {
    cursor: pointer;
    font-size: 20px;
}

.fa-plus-square {
    cursor: pointer;
    font-size: 20px;
}

.disclousreGuests {
    
    padding-left: 15px;

}

.gray {
    cursor: not-allowed;
    color: gray;
}

.PresetDateRangePicker_panel {
  padding: 0 22px 11px
}

.PresetDateRangePicker_button {
  position: relative;
  height: 100%;
  text-align: center;
  background: 0 0;
  border: 2px solid #00a699;
  color: #00a699;
  padding: 4px 12px;
  margin-right: 8px;
  font: inherit;
  font-weight: 700;
  line-height: normal;
  overflow: visible;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer
}
.PresetDateRangePicker_button:active {
  outline: 0
}
.PresetDateRangePicker_button__selected {
  color: #fff;
  background: #00a699
}
.SingleDatePickerInput {
  display: inline-block;
  background-color: #fff
}
.SingleDatePickerInput__withBorder {
  border-radius: 2px;
  border: 1px solid darkgray
}
.SingleDatePickerInput__rtl {
  direction: rtl
}
.SingleDatePickerInput__disabled {
  background-color: #f2f2f2
}
.SingleDatePickerInput__block {
  display: block
}
.SingleDatePickerInput__showClearDate {
  padding-right: 30px
}
.SingleDatePickerInput_clearDate {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px 0 5px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%)
}
.SingleDatePickerInput_clearDate__default:focus,
.SingleDatePickerInput_clearDate__default:hover {
  background: darkgray;
  border-radius: 50%
}
.SingleDatePickerInput_clearDate__small {
  padding: 6px
}
.SingleDatePickerInput_clearDate__hide {
  visibility: hidden
}
.SingleDatePickerInput_clearDate_svg {
  fill: #82888a;
  height: 12px;
  width: 15px;
  vertical-align: middle
}
.SingleDatePickerInput_clearDate_svg__small {
  height: 9px
}
.SingleDatePickerInput_calendarIcon {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin: 0 5px 0 10px
}
.SingleDatePickerInput_calendarIcon_svg {
  fill: #82888a;
  height: 15px;
  width: 14px;
  vertical-align: middle
}
.SingleDatePicker {
  position: relative;
  display: inline-block
}
.SingleDatePicker__block {
  display: block
}
.SingleDatePicker_picker {
  z-index: 1;
  background-color: #fff;
  position: absolute
}
.SingleDatePicker_picker__rtl {
  direction: rtl
}
.SingleDatePicker_picker__directionLeft {
  left: 0
}
.SingleDatePicker_picker__directionRight {
  right: 0
}
.SingleDatePicker_picker__portal {
  background-color: rgba(0,0,0,.3);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%
}
.SingleDatePicker_picker__fullScreenPortal {
  background-color: #fff
}
.SingleDatePicker_closeButton {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  z-index: 2
}
.SingleDatePicker_closeButton:focus,
.SingleDatePicker_closeButton:hover {
  color: darken(#cacccd,10%);
  text-decoration: none
}
.SingleDatePicker_closeButton_svg {
  height: 15px;
  width: 15px;
  fill: #cacccd
}
.DayPickerKeyboardShortcuts_buttonReset {
  background: 0 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  font-size: 14px
}
.DayPickerKeyboardShortcuts_buttonReset:active {
  outline: 0
}
.DayPickerKeyboardShortcuts_show {
  width: 33px;
  height: 26px;
  position: absolute;
  z-index: 2
}
.DayPickerKeyboardShortcuts_show::before {
  content: "";
  display: block;
  position: absolute
}
.DayPickerKeyboardShortcuts_show__bottomRight {
  bottom: 0;
  right: 0
}
.DayPickerKeyboardShortcuts_show__bottomRight::before {
  border-top: 26px solid transparent;
  border-right: 33px solid #00a699;
  bottom: 0;
  right: 0
}
.DayPickerKeyboardShortcuts_show__bottomRight:hover::before {
  border-right: 33px solid #008489
}
.DayPickerKeyboardShortcuts_show__topRight {
  top: 0;
  right: 0
}
.DayPickerKeyboardShortcuts_show__topRight::before {
  border-bottom: 26px solid transparent;
  border-right: 33px solid #00a699;
  top: 0;
  right: 0
}
.DayPickerKeyboardShortcuts_show__topRight:hover::before {
  border-right: 33px solid #008489
}
.DayPickerKeyboardShortcuts_show__topLeft {
  top: 0;
  left: 0
}
.DayPickerKeyboardShortcuts_show__topLeft::before {
  border-bottom: 26px solid transparent;
  border-left: 33px solid #00a699;
  top: 0;
  left: 0
}
.DayPickerKeyboardShortcuts_show__topLeft:hover::before {
  border-left: 33px solid #008489
}
.DayPickerKeyboardShortcuts_showSpan {
  color: #fff;
  position: absolute
}
.DayPickerKeyboardShortcuts_showSpan__bottomRight {
  bottom: 0;
  right: 5px
}
.DayPickerKeyboardShortcuts_showSpan__topRight {
  top: 1px;
  right: 5px
}
.DayPickerKeyboardShortcuts_showSpan__topLeft {
  top: 1px;
  left: 5px
}
.DayPickerKeyboardShortcuts_panel {
  overflow: auto;
  background: #fff;
  border: 1px solid darkgray;
  border-radius: 2px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  padding: 22px;
  margin: 33px;
  text-align: left
}
.DayPickerKeyboardShortcuts_title {
  font-size: 16px;
  font-weight: 700;
  margin: 0
}
.DayPickerKeyboardShortcuts_list {
  list-style: none;
  padding: 0;
  font-size: 14px
}
.DayPickerKeyboardShortcuts_close {
  position: absolute;
  right: 22px;
  top: 22px;
  z-index: 2
}
.DayPickerKeyboardShortcuts_close:active {
  outline: 0
}
.DayPickerKeyboardShortcuts_closeSvg {
  height: 15px;
  width: 15px;
  fill: #cacccd
}
.DayPickerKeyboardShortcuts_closeSvg:focus,
.DayPickerKeyboardShortcuts_closeSvg:hover {
  fill: #82888a
}
.CalendarDay {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  text-align: center
}
.CalendarDay:active {
  outline: 0
}
.CalendarDay__defaultCursor {
  cursor: default
}
.CalendarDay__default {
  border: 1px solid #e4e7e7;
  color: #484848;
  background: #fff
}
.CalendarDay__default:hover {
  background: #e4e7e7;
  border: 1px solid #e4e7e7;
  color: inherit
}
.CalendarDay__hovered_offset {
  background: #f4f5f5;
  border: 1px double #e4e7e7;
  color: inherit
}
.CalendarDay__outside {
  border: 0;
  background: #fff;
  color: #484848
}
.CalendarDay__outside:hover {
  border: 0
}
.CalendarDay__blocked_minimum_nights {
  background: #fff;
  border: 1px solid #eceeee;
  color: #cacccd
}
.CalendarDay__blocked_minimum_nights:active,
.CalendarDay__blocked_minimum_nights:hover {
  background: #fff;
  color: #cacccd
}
.CalendarDay__highlighted_calendar {
  background: #ffe8bc;
  color: #484848
}
.CalendarDay__highlighted_calendar:active,
.CalendarDay__highlighted_calendar:hover {
  background: #ffce71;
  color: #484848
}
.CalendarDay__selected_span {
  background: #66e2da;
  border: 1px double #33dacd;
  color: #fff
}
.CalendarDay__selected_span:active,
.CalendarDay__selected_span:hover {
  background: #33dacd;
  border: 1px double #33dacd;
  color: #fff
}
.CalendarDay__selected,
.CalendarDay__selected:active,
.CalendarDay__selected:hover {
  background: #00a699;
  border: 1px double #00a699;
  color: #fff
}
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
  background: #b2f1ec;
  border: 1px double #80e8e0;
  color: #007a87
}
.CalendarDay__hovered_span:active {
  background: #80e8e0;
  border: 1px double #80e8e0;
  color: #007a87
}
.CalendarDay__blocked_calendar,
.CalendarDay__blocked_calendar:active,
.CalendarDay__blocked_calendar:hover {
  background: #cacccd;
  border: 1px solid #cacccd;
  color: #82888a
}
.CalendarDay__blocked_out_of_range,
.CalendarDay__blocked_out_of_range:active,
.CalendarDay__blocked_out_of_range:hover {
  background: #fff;
  border: 1px solid #e4e7e7;
  color: #cacccd
}
.CalendarDay__hovered_start_first_possible_end {
  background: #eceeee;
  border: 1px double #eceeee
}
.CalendarDay__hovered_start_blocked_min_nights {
  background: #eceeee;
  border: 1px double #e4e7e7
}
.CalendarMonth {
  background: #fff;
  text-align: center;
  vertical-align: top;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.CalendarMonth_table {
  border-collapse: collapse;
  border-spacing: 0
}
.CalendarMonth_verticalSpacing {
  border-collapse: separate
}
.CalendarMonth_caption {
  color: #484848;
  font-size: 18px;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 37px;
  caption-side: initial
}
.CalendarMonth_caption__verticalScrollable {
  padding-top: 12px;
  padding-bottom: 7px
}
.CalendarMonthGrid {
  background: #fff;
  text-align: left;
  z-index: 0
}
.CalendarMonthGrid__animating {
  z-index: 1
}
.CalendarMonthGrid__horizontal {
  position: absolute;
  left: 9px
}
.CalendarMonthGrid__vertical,
.CalendarMonthGrid__vertical_scrollable {
  margin: 0 auto
}
.CalendarMonthGrid_month__horizontal {
  display: inline-block;
  vertical-align: top;
  min-height: 100%
}
.CalendarMonthGrid_month__hideForAnimation {
  position: absolute;
  z-index: -1;
  opacity: 0;
  pointer-events: none
}
.CalendarMonthGrid_month__hidden {
  visibility: hidden
}
.DayPickerNavigation {
  position: relative;
  z-index: 2
}
.DayPickerNavigation__horizontal {
  height: 0
}
.DayPickerNavigation__verticalScrollable_prevNav {
  z-index: 1
}
.DayPickerNavigation__verticalDefault {
  position: absolute;
  width: 100%;
  height: 52px;
  bottom: 0;
  left: 0
}
.DayPickerNavigation__verticalScrollableDefault {
  position: relative
}
.DayPickerNavigation__bottom {
  height: auto
}
//
.DayPickerNavigation_button__default {
  border: 1px solid #e4e7e7;
  background-color: #fff;
  color: #757575
}

.DayPickerNavigation_button__horizontalDefault {
  position: absolute;
  top: 18px;
  line-height: .78;
  border-radius: 3px;
  padding: 6px 9px
}
.DayPickerNavigation_bottomButton__horizontalDefault {
  position: static;
  margin: -10px 22px 30px
}

.DayPickerNavigation_leftButton__horizontalDefault {
  left: 22px
}
.DayPickerNavigation_rightButton__horizontalDefault {
  right: 22px
}

.DayPickerNavigation_svg__horizontal {
  height: 19px;
  width: 19px;
  fill: #82888a;
  display: block
}
 
.DayPicker__withBorder {
  box-shadow: 0 2px 6px rgba(0,0,0,.05),0 0 0 1px rgba(0,0,0,.07);
  border-radius: 3px
}

.DayPicker_weekHeaders {
  position: relative
}
.DayPicker_weekHeaders__horizontal {
  margin-left: 9px
}
.DayPicker_weekHeader {
  color: #757575;
  position: absolute;
  top: 62px;
  z-index: 2;
  text-align: left
}

.DayPicker_weekHeader__vertical {
  left: 50%
}

.DayPicker_weekHeader_li {
  display: inline-block;
  text-align: center
}
.DayPicker_transitionContainer {
  position: relative;
  overflow: hidden;
  border-radius: 3px
}

.DateInput {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 30%;
  vertical-align: middle
}


.DateInput_input {
  font-weight: 200;
  font-size: 15px;
  color: #484848;
  width: 95%;
  padding: 11px 11px 9px;
}

.DateInput_screenReaderMessage {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}

.DateInput_fang {
  position: absolute;
  width: 20px;
  height: 10px;
  left: 22px;
  z-index: 2
}

.DateInput_fangShape {
  fill: #fff
}

.DateInput_fangStroke {
  stroke: darkgray;
  fill: transparent
}

.DateRangePickerInput__block {
  display: flex;
  border: 1px solid darkgray
}

.DateRangePicker {
  position: relative;
  display: inline-block
}

.DateRangePicker_picker {
  z-index: 1;
  background-color: #fff;
  position: absolute
}