.Spots-title{
    margin-top: 35px;
    font-size: 14px;
    padding: 5px 0px;
}

.Spots-div {
    padding: 0px 20px;
    border-top: 1px solid #EBEBEB;
    display: flex;
}

.Spots-header {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 25px;
}

.Spots-button button {
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 8px 10px;
    color: black;
    margin: 5px;
    font-size: 14px;
    font-weight: 300px;
}

.Spots-covid {
    margin: 20px 0px;
    font-size: 12px;
}

.Spotspage-header {
    border-bottom: 1px solid lightgray;
}

.Spots-div li {
    list-style: none;
}

.index-item-image {

    border-radius: 10px;
    margin-top: 10px;
    margin: 10px 15px 10px 0px;
}

.spot-index-item {
    display: flex;
    border-bottom: 1px solid #b6b6b6;
  

}

.spot-index-item img {
    border-radius: 10px;
    height: 200px;
    width: 300px;
}


.index-item-name {
    margin: 10px 0px 5px;
    color: #837878;
    font-size: 14px;
    
}
.line {
    height:1px;
    width: 30px;
    margin-top: 10px;
    border-top: 1px solid #EBEBEB;
    padding-bottom: 10px;
}

.index-item-details {
    margin-top: 10px;
    color: #837878;
    font-size: 14px;
}

.price {
    align-self: flex-end;
    padding-bottom: 20px;
    width: 200px;
}

.index-item-info {
    width: 600px;
}

#map-container {
    width: 500px;
    height: 500px;
}

.map {
    width: 700px;
    height: 100%;
}

.board {
    display: flex;
}
.leftside {
    overflow: auto;
    position: relative;
    width:60%
}

.rightside{ 
    position: fixed;
    top:0;
    height: 100%;
    right: 0;
    z-index: -25;
    width:40%;
}
.listings {
    width: 100%
}